# 此为注释 - 将被Git忽略
*~
# 忽略所有.a结尾的文件
*.a
# 但lib.a除外
!lib.a
# 仅仅忽略项目根目录下的TODO文件，不包括subdir/TODO
/TODO
# 忽略build/目录下的所有文件
build/
# 会忽略doc/notes.txt 但不包括doc/server/arch.txt
doc/*.txt
# ignore all .txt files in the doc/directory
doc/**/*.txt

# I want change somthing for "--amend"
